---
import "@fontsource/inter/700.css"
import "@fontsource/inter/500.css"
import "@fontsource/inter/400.css"
import "highlight.js/styles/github-dark.css"
import { Navbar } from "../components/navbar";
import { SEO } from "astro-seo";
import GoogleAnalytics from "./../feacture/google/analytics.astro"
import { Footer } from "../components/footer";
import { ViewTransitions } from 'astro:transitions';

interface Props {
    title: string
    description: string
    image?: string
	disableProse?: boolean
}

export const prerender = true;
const { title, description, image, disableProse } = Astro.props
const url = `${Astro.url.origin}${Astro.url.pathname}`
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<meta name="viewport" content="width=device-width" />
		<ViewTransitions />
		<SEO
			title={title}
			description={description}
			canonical={url}
			charset="utf-8"
			openGraph={{
				basic: {
					title,
					type: "article",
				    image: image ?? "https://fvcoder.com/hi.png",
					url,
				}
			}}
			twitter={{
				card: "summary_large_image",
				image: image ?? "https://fvcoder.com/hi.png",
				creator: "@fvcoder1",
				title,
				description,
				imageAlt: title,
			}}
		/>
	</head>
	<body class="bg-white">
		<Navbar client:load />
		{
			disableProse ? (
				<slot />
			) : (
				<div class="prose mx-auto py-10 px-4">
					<slot  />
				</div>
			)
		}
		<GoogleAnalytics />
		<Footer />
	</body>
</html>
 