---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import { HeaderNavbar } from "../../components/react/headerNavbar";

const posts = (await getCollection("blog")).sort(
  (a: any, b: any) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead
      title={`Blog de ${SITE_TITLE}`}
      description={"Fernando Ticona: Tu aliado en el desarrollo frontend. Convierte tus ideas en realidad digital. Experto en HTML, CSS, JavaScript, React y Vue.js. Diseño web moderno, rápido y responsivo. ¡Llevemos tu proyecto al siguiente nivel!"}
    />
  </head>
  <body>
    <HeaderNavbar client:visible />
    <main class="max-w-5xl mx-auto px-6">
      <section>
        <ul class="grid grid-cols-1 md:grid-cols-2 gap-6">
          {
            posts.map((post: any, i: number) => (
              <li class={i === 0 ? "md:col-span-2" : ""}>
                <a href={`/blog/${post.id}/`} class="block">
                  <img
                    src={post.data.heroImage}
                    alt=""
                    class="object-cover w-full h-auto aspect-video rounded-xl"
                  />
                  <h4 class="mt-2 text-2xl font-semibold">{post.data.title}</h4>
                  <p class="text-neutral-500">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
