---
import '../styles/global.css';

interface Props {
	title: string;
	description: string;
	image?: string;
	type?: string
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image } = Astro.props;
const type = Astro.props.type ?? "website"
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="generator" content={Astro.generator} />

<!-- Font preloads -->
<link rel="preload" href="/fonts/atkinson-regular.woff" as="font" type="font/woff" crossorigin />
<link rel="preload" href="/fonts/atkinson-bold.woff" as="font" type="font/woff" crossorigin />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content={type} />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
{image && <meta property="og:image" content={new URL(image, Astro.url)} />}

<!-- Twitter -->
<meta property="twitter:card" content={image ? "summary_large_image" : "summary"} />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
{image && <meta property="twitter:image" content={new URL(image, Astro.url)} />}

<!-- Favicon -->
<link rel="icon" type="image/png" href="https://cdn.fvcoder.com/icon/2024-12/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="https://cdn.fvcoder.com/icon/2024-12/favicon.svg" />
<link rel="shortcut icon" href="https://cdn.fvcoder.com/icon/2024-12/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="https://cdn.fvcoder.com/icon/2024-12/apple-touch-icon.png" />