---
import "@fontsource/inter/700.css"
import "@fontsource/inter/500.css"
import "@fontsource/inter/400.css"
import { Navbar } from "../../components/navbar";
import { SEO } from "astro-seo";
import { getBlogList } from "../../feacture/prismic"
import { CardPost } from "../../components/card";
import GoogleAdSense from "./../../feacture/google/adsense.astro"
import GoogleAnalytics from "./../../feacture/google/analytics.astro"
import { Footer } from "../../components/footer";

const data = await getBlogList({ page: 1, pageSize: 12 });

const title = "Bitácora de un Full-Stack Dev Junior por Fernando Ticona | Blog"
const description = "¡Explora el Mundo del Desarrollo Web con Fernando Ticona! Únete a mí en mi viaje como Full-Stack Dev Junior mientras comparto mis experiencias, conocimientos y proyectos en el emocionante mundo del desarrollo frontend y backend. Sumérgete en artículos, tutoriales y reflexiones que te guiarán a través de mis aprendizajes. ¡Conéctate y descubre nuevas oportunidades en el universo del código!"
const url = `${Astro.url.origin}${Astro.url.pathname}`

---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<meta name="viewport" content="width=device-width" />
		<SEO
			title={title}
			description={description}
			canonical={url}
			charset="utf-8"
			openGraph={{
				basic: {
					title,
					type: "website",
					image: "https://fvcoder.com/hi.png",
					url,
				}
			}}
			twitter={{
				card: "summary_large_image",
				image: "https://fvcoder.com/hi.png",
				creator: "@fvcoder1",
				title,
				description,
				imageAlt: "Fernando Ticona | Full-Stack Dev Junior",
			}}
		/>
	</head>
	<body class="bg-slate-50">
        <Navbar client:load />
		<div class="max-w-sm md:max-w-4xl mx-auto px-4 py-4">
			<header class="py-4">
                <h2>
                    <h1 class="text-large font-bold">Últimas Articulos de fvcoder</h1>
                </h2>
            </header>
				<main class="mt-4 grid grid-cols-1 md:grid-cols-2 gap-6">
					{data.results.map((post, i) => {
						return (
							<a href={`/blog/${post.uid}`}>
								<CardPost
									client:visible
									image={post.data.image.url ?? ""}
									imageAlt={post.data.image.alt ?? ""}
									title={post.data.title[0]?.text}
									tag={(post.tags[0] ?? "").replace(/-/g, " ") }
								/>
							</a>
						)
					})}
    	        </main>
		</div>
		<GoogleAdSense />
		<GoogleAnalytics />
		<Footer />
	</body>
</html>
 